export(opw)
export(prob_rank_givenEffect)
export(prob_rank_givenEffect_approx)
export(prob_rank_givenEffect_exact)
export(prob_rank_givenEffect_simu)
export(weight_binary)
export(weight_by_delta)
export(weight_continuous)

import(stats)

importFrom(graphics, hist)
importFrom(MASS, boxcox)
importFrom(qvalue, qvalue)
importFrom(tibble, tibble)


